body {
  background-image: url("../images/the-starry-night.jpg") cover no-repeat;
}
header {
  background-color: #008489;
  height: 66px;
}
.menu-toggle {
  display: none;
}
.logo {
  float: left;
  height: inherit;
  margin: 0 0 0 2em;
}
.logo-color {
  color: #03eef6;
}
.logo-text {
  margin: 1em 0 0 0;
}
header ul {
  float: right;
}
header * {
  color: white;
}
/* .nav-list {
  border: 1px solid red;
} */
.nav-list li {
  float: left;
  position: relative;
}
.nav-list li ul {
  position: absolute;
  top: 66px;
  right: 0;
  width: 180px;
  display: none;
  z-index: 90000;
}
.nav-list li:hover ul {
  display: block;
}
.nav-list li ul li {
  width: 100%;
}
.logout {
  color: #cf5131;
}
.nav-list li ul li a {
  padding: 10px;
  background-color: rgb(241, 241, 241);
}
.nav-list li ul li a:hover {
  background-color: rgb(194, 190, 190);
}
.nav-list li a {
  display: block;
  padding: 21px;
  font-size: 1.1em;
}
.nav-list li a:hover {
  background-color: #02484b;
  transition: 0.5s;
}

/* POST SLIDER */

.page-wrapper a:hover {
  color: #065153;
}
.post-slider {
  position: relative;
}
.next {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 2em;
  color: #006669;
  cursor: pointer;
}
.prev {
  position: absolute;
  top: 50%;
  left: 30px;
  font-size: 2em;
  color: #006669;
  cursor: pointer;
}
.slider-title {
  text-align: center;
  margin: 30px auto;
}
.post-wrapper {
  width: 84%;
  height: 350px;
  margin: 0px auto;
  overflow: hidden;
  padding: 10px 0px 10px 0px;
}
.post {
  display: inline-block;
  width: 200px;
  height: 330px;
  margin: 0px 10px 0px 10px;
  border-radius: 5px;
  box-shadow: 1rem 1rem 1rem -1rem #a0a033;
  overflow: hidden;
}
.slider-img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.recent-post-title {
  margin: 0px;
  background: #1abb93;
  text-align: center;
}
.post-info {
  height: 130px;
  padding: 0 5px;
}
/* .preview-text {
} */
.far {
  font-size: 0.6em;
}
/* content */
.content {
  width: 85%;
  /* border: #ff1e00 solid 1px; */
  margin: 0px auto;
  margin-top: 10px;
}
.content-main {
  width: 60%;
  float: left;

  /* border: #3eb157 solid 1px; */
}
.content-aside {
  width: 40%;
  float: left;
  /* height: 300px; */
  /* border: #8109b1 solid 1px; */
}
.content-aside .post {
  width: 95%;
  height: 100%;
  margin: 10px auto;
  border-radius: 5px;
  overflow: hidden;
}
.preview-text {
  padding: 10px;
}
.content-aside .post .post-img {
  width: 150px;
  float: left;
  border-radius: 5px;
}
.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

/*// content */
/* register */
.auth-content {
  width: 30%;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}
/* form {
} */
form label {
  display: block;
}

form div {
  margin-top: 10px;
  width: 100%;
}

.form-title {
  text-align: center;
}
.text-input {
  display: block;
  width: 100%;
}
/* .register-btn {
} */

/* .btn-big {
} */
.btn {
  padding: 0.5rem 1rem;
  background: #006669;
  color: white;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-family: "loral";
}
.auth-content form p {
  text-align: center;
}
.auth-content form p a {
  text-decoration: underline;
}
/* // register */
/* MEDIA QUERY */
@media only screen and (max-width: 750px) {
  .nav-list {
    width: 100%;
    background-color: #0d9499;
    display: none;
  }
  header ul li {
    display: block;
    width: 100%;
    /* background-color: #0d9499; */
  }
  header {
    position: relative;
  }
  .show {
    max-height: 100em;
    display: block !important;
  }
  .nav-list li ul {
    display: block;
    position: static;

    width: 100%;
  }
  .nav-list li ul li a {
    width: 100%;
    background-color: #0d9499;
    padding: 0 0 0 25px;
  }
  .nav-list li ul li a:hover {
    background-color: #065153;
  }
  .menu-toggle {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5em;
  }
}
