/* aside {
  background-color: yellow;
} */
.mr-auto {
  margin-left: 30% !important;
}
/* .row {
  background-color: blue;
} */
nav {
  background-color: #f8f9fa;
  height: 10vh;
}
.content {
  height: 90vh;
}
.card {
  border-radius: 15px;
}
.card-img {
  border-radius: 15px;
}
.comment-img {
  border-radius: 5%;
}
.block {
  height: 10vh;
}
.block-img {
  height: 40vh;
  overflow: hidden;
}
.img-fluid {
  height: auto;
  max-width: 100%;
}
#article-img {
  height: auto;
  max-width: 100%;
}
.img-responsive {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-image {
  background-image: url("../imsges/mona-lisa.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
/* .aside {
  overflow: scrow;
} */
.article-section {
  height: 80%;
}
/* .post {
  margin: 20px 0px 0px 10px;
} */
/* ul {
  background-color: green;
} */

/* div {
  background-color: magenta;
} */
.container {
  background-color: #f8f9fa;
}
/* form {
  background-color: yellow;
} */
.col- {
  background-color: green;
}
.col-6 {
  background-color: magenta;
}
/* .col-5 {
  background-color: rgb(163, 57, 131);
} */
.col-4 {
  background-color: rgb(56, 156, 36);
}
/* .col-3 {
  background-color: rgb(138, 60, 127);
} */
.col-2 {
  background-color: rgb(190, 199, 114);
}
/* .col-9 {
  background-color: rgb(13, 174, 214);
} */
.col-10 {
  background-color: rgb(152, 207, 155);
}
.col-12 {
  background-color: rgb(238, 199, 71);
  height: 60vh;
}
